<div class="user-form">

  <h2 class="user-title">Forgot your password?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <button type="submit" class="button medium hover-button-yellow" value="Submit">
      Send me reset password instructions
    </button>

  <% end %>
  <div class="">
    <%= link_to "Log In",  new_user_session_path, class: "button medium hover-button" %>
  </div>
  <div class="">
    <%= link_to "Sign up", new_user_registration_path, class: "button medium hover-button" %>
  </div>
</div>
