<!DOCTYPE html>
<html>
<head>
  <title>BJJTournamentGenerator</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <%= stylesheet_link_tag 'application', media: 'all' %>

    <%# javascript_include_tag "vendor/modernizr" %>
    <%= javascript_pack_tag    'application' %>
    <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="body">

  <nav class="top-bar">
    <section class="top-bar-section">
      <div class="left title-button">
        <div class="logo">
          <h1><i class="ion-trophy"></i>BJJ forge</h1>
        </div>
      </div>
    </section>
    <section class="top-bar-section">
      <div class="right">
        <%- if current_user -%>
            <ul class="menu horizontal title-button">
              <li><%= link_to 'Home', academies_path %></li>
              <li class=""><%= link_to 'Edit', edit_user_registration_path %></li>
              <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
            </ul>
        <%- else -%>
        <ul class="menu title-button">
          <li><%= link_to 'Home', academies_path %></li>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        </ul>
        <%- end -%>
      </div>
    </section>
  </nav>

  <div id="flash-messages">
    <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
    <%- end -%>
  </div>

  <%= yield %>

  <%= javascript_include_tag 'application' %>

  <%- if Rails.env.development? || Rails.env.test? -%>
      <%= javascript_tag do %>
        window.railsEnv = '<%= Rails.env %>'
      <%- end -%>
    <%- end -%>
    <%= javascript_pack_tag 'application' %>

  <%= yield :extra_footer %>
</body>
</html>
